html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	text-align: center;
	overflow: hidden;
}
.texte {
	font-family: "Comic Sans MS";
	line-height: 1.1;
	outline: 0;
	position: absolute;
	min-width: 2px;
	cursor: text;
	transition-duration: 0.2s;
	/*max-width: 40em;
	 word-wrap: break-word;*/
	white-space: pre;
	border-radius: 10px;
	background-color: white;
	padding: 5px;
}

.movingtexte {
	transition-duration: 0s;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.texte img {
	transition-duration: 0.2s;
}
