body {
	margin: 0;
	padding: 0;
}
#user {
	float: left;
	background-image: url("../images/user.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#camera {
	float: left;
	background-image: url("../images/camera.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#text {
	background-image: url("../images/text.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#settings {
	background-image: url("../images/settings.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#video {
	background-image: url("../images/video.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#video {
	background-image: url("../images/video.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#switch {
	background-image: url("../images/switch.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#search {
	background-image: url("../images/search-icon.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#help {
	background-image: url("../images/questionmark.png");
	background-repeat: no-repeat;
	background-size: contain;
}
#search-bar {
	width: 180px;
}
nav {
	background-color: #ccc;
	width: 38%;
	height: 50px;
	text-align: left;
	padding: 0;
	margin: 0;
	position: absolute;
}

nav ul {
	margin: 0;
	padding-left: 10px;
	padding-top: 10px;

}
nav li {
	float: left;
	font-family: 'Oswald', sans-serif;
	font-size: 1.0em;
	line-height: 20px;
	height: 25px;
	border-bottom: none;
	display: inline-block;
	width: 8%;
}
 
nav a {
	text-decoration: none;
	color: black;
	transition: .3s background-color;
}
nav a.active {
	background-color: #fff;
	color: #444;
	cursor: default;
}
li:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

/* 
	################################################ 
	###### 		  BEGIN OF CANVAS CSS.        ######
	################################################
*/		

#canvas {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

#menu {
    position: absolute;
    width: 170px;
    height: 170px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	cursor: context-menu;
}

#menu img {
    position: absolute;
    width: 30px;
    height: 30px;
	
}

#menu .hover {
    background-color: #AAAAAA;
    border-radius: 100px;
}

.submenuitem{
    background-color: #999;
    border-radius:100px;
    width:50px;
    height:50px;
    position:absolute;
}

.subhover{
    background-color: #666;
}

#circle {
    position: absolute;
    margin: 0;

    width: 70px;
    height: 70px;

    background-color: transparent;
    border-color: #cbcbcb transparent transparent #cbcbcb;
    border-width: 50px;
    border-style: solid;
    border-radius: 100px;

    /* BUG: Firefox shows two black lines in menu */
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    -moz-transform: rotate(90deg); /* Firefox */
    transform: rotate(45deg);

    -webkit-backface-visibility: hidden; /* Fix black lines in border for Chrome */
    backface-visibility: hidden;
}

#myForm {
    display: none;
}

img.image {
    position: absolute;
}